body, html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: "Ole", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 96);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}
body::before {
    content: "";
    opacity: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
body.configAberto::before {
    opacity: 1;
    z-index: 90;
}
.GameDiv {
    display: none;
    margin-left: 18vw;
    width: 100vw;
    height: 100vh;
}
.PaginaInicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Config, .configE {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 1vw;
    height: 100vh;
    border-radius: 5vh;
    z-index: 99;
    cursor: pointer;
}
.configE {
    display: none;
    border-radius: 1vh;
    
}
@keyframes expandir {
    from {
        width: 1vw;
    }
    to {
        width: 15vw;
    }
}
.Config:hover .configE {
    display: flex;
    animation: expandir 0.5s;
    width: 15vw;
}
h1 {
    color: white;
    position: absolute;
    margin-bottom: 70vh;
    font-size: 10vh;
}

#pontos{
    color: white;
    font-size: 7vh;
    margin-top: 10vh;
}
#mdcoins {
    font-size: 4vh;
    top: -30vh;
}
input {
    width: 13vw;
    height: 7vh;
    padding-left: 1vw;
    border-radius: 10vh;
    font-size: 1.75vh;
}
button {
    background: linear-gradient(to right, rgb(0, 139, 120) 30%, cyan 70%);
    width: 12vw;
    height: 6vh;
    border-radius: 10vh;
    font-size: 3vh;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(to right, rgb(0, 139, 14) 30%, rgb(0, 255, 76) 70%);
}
#Login {
    width: 14vw;
    height: 10vh;
    position: absolute;
    margin-top: 25vh;
    font-size: 5vh;

}
#Cadastre-se {
    position: absolute;
    margin-top: 55vh;  
    font-size: 2vh;
}
#CadastrarDiv {
    display: none;
}
#Cadastrar {
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    display: none;
}

#backcad{
    display: none;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    display: none;
}
.inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin-bottom: 10vh;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40vh;
    margin-left: -8vw;
}
.VC {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vh;
    gap: 1vh;
    bottom: 12vh;
    color: white;
    position: absolute;
}
#buttonclicker {
    width: 35vw;
    height: 70vh;
    cursor: pointer;
    position: absolute;
    top: 2vh;
    border-radius: 50vh;
}
.upgradeMenu {
    text-align: center;
    border-radius: 5vh;
    background-color: black;
    color: white;
    width: 25vw;
    height: 99vh;
    margin-left: 2vw;
    box-shadow: 2vh 1vh 2px white;
}
.upgradeMenu h1{
    position: relative;
    margin: 0;
}
#BtnsUPGM {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3vh; 
    margin: 3vh;
    height: 14vh;
    font-size: 5vh;
    cursor: pointer;
    background-color: rgb(157, 128, 0);
    box-shadow: 1vh 1vh 2px white;
}
.Click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hoverdiv {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    border-radius: 3vh; 
    margin-right:  25vh;
    height: 14vh;
    width: 8vw;
    font-size: 5vh;
    cursor: pointer;
    background-color: rgb(157, 128, 0);
    gap: 5vh;
}
#fogueteshover {
    top: 32.6vh;
}
@keyframes movimentar {
    from {
        margin-right: 25vh;
    }
    to{
        margin-right: 40vh;
    };
}
.Foguetes:hover #fogueteshover {
    display: flex;
    animation: movimentar 0.5s;
    margin-right: 40vh;
}
.Click:hover .hoverdiv{
    display: flex;
    animation: movimentar 0.5s;
    margin-right: 40vh;
}
.Click p, .Foguetes p  {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.Stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 40, 40);
    border-radius: 5vh;
    margin-left: 2vw;
    width: 50vw;
    height: 99vh;
    box-shadow: 0 0 10vh 2px rgb(251, 255, 0);
    background-image: url("https://i.ibb.co/NnJfXzt4/3lfw-B.jpg");
    background-position: center;
    background-size: 120vh;
    background-repeat: no-repeat;
}