body, html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: "Ole", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 47, 88);
}
.GameDiv {
    display: none;
    margin-left: 18vw;
    width: 100vw;
    height: 100vh;
}
.PaginaInicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
    position: absolute;
    margin-bottom: 70vh;
    font-size: 10vh;
}

#pontos{
    color: white;
}
input {
    width: 13vw;
    height: 7vh;
    padding-left: 1vw;
    border-radius: 10vh;
    font-size: 1.75vh;
}
button {
    background: linear-gradient(to right, rgb(0, 139, 120) 30%, cyan 70%);
    width: 12vw;
    height: 6vh;
    border-radius: 10vh;
    font-size: 3vh;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(to right, rgb(0, 139, 14) 30%, rgb(0, 255, 76) 70%);
}
#Login {
    width: 14vw;
    height: 10vh;
    position: absolute;
    margin-top: 25vh;
    font-size: 5vh;

}
#Cadastre-se {
    position: absolute;
    margin-top: 55vh;  
    font-size: 2vh;
}
#CadastrarDiv {
    display: none;
}
#Cadastrar {
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    display: none;
}

#backcad{
    display: none;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    display: none;
}
.inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin-bottom: 10vh;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40vh;
    margin-left: -8vw;
}
#buttonclicker {
    width: 15vw;
    height: 30vh;
    cursor: pointer;
    position: absolute;
    border-radius: 50vh;
}
.upgradeMenu {
    text-align: center;
    border-radius: 5vh;
    background-color: black;
    color: white;
    width: 25vw;
    height: 99vh;
    margin-left: 2vw;

}
.upgradeMenu h1{
    position: relative;
    margin: 0;
}
#BtnsUPGM {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3vh;
    margin: 3vh;
    height: 10vh;
    font-size: 5vh;
    cursor: pointer;
    background-color: rgb(129, 62, 0);
}
.Click {
}
.Stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5vh;
    margin-left: 2vw;
    width: 50vw;
    height: 99vh;
}